*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}   
.jevislab {
    padding: 90px 0;
}
.flex{
  
    gap: 60px;
    align-items: center;
      display: flex;
    justify-content: center;
}
.jevislab-text {
    /* flex: 1; */
    /* text-align: center; */
    align-items: center;
    justify-content: center;
   padding: 0px 190px;
/* gap: 90px; */
}
.me-jev{
    align-items: center;
    justify-content: center;
}
.para{
    width: 70%;
}