*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}   
.jevislab {
    padding: 90px 0;
}
.jevislab-text {
    /* flex: 1; */
    align-items: center;
    justify-content: center;
    display: grid;
}
.me-jev{
    align-items: center;
    justify-content: center;
}